*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-primary: #3a3a3a;

  --color-text-secondary: #2b2b2b;
  --color-text-eclipse: #3a3a3a;
  --color-text-gray: #858585;
  --color-text-white: #ffffff;
  --color-text-highlight: #b07f4c;
  --color-text-gray-secondary: #847868;
  --color-text-christmas-silver: #b5b5b5;
  --color-text-dark-gray: #333333;

  --color-background-grey: #ededed;
  --color-background-light: #f3f3f3;
  --color-background-white: #ffffff;
  --color-background-сharcoal: #2b2b2b;
  --color-background-dark-gold: #b07f4c;
  --color-background-dark-сharcoal: #3b3b3b;
  --color-background-charcoal-blue: #464c5c;
  --color-background-chip: rgba(255, 255, 255, 0.24);
  --color-background-light-gray: #f9f9f9;
  --color-background-alabaster-white: #fafafa;
  --color-background-superlight: #eeeeee;
  --color-background-light-gray-secondary: #d3d3d3;

  --color-border-white: #ffffff;
  --color-border-mid: rgba(255, 255, 255, 0.3);
  --color-border-light: rgba(255, 255, 255, 0.2);
  --color-border-dark-gold: #b07f4c;
  --color-border-very-light-gray: #eee;
  --color-border-light-gray: #dddddd;

  --color-icon: #ffffff;
  --color-primary: #a76d39;
  --color-primary-hover: #8a572e;

  --shadow-elev-1: 0 1px 6px 1px rgba(145, 153, 171, 0.3);
  --color-shadow-very-light-transparent-black: rgba(0, 0, 0, 0.08);
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
}

@font-face {
  font-weight: 300;
  font-family: "IBM Plex Sans Light";
  src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans-Light.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "IBM Plex Sans Regular";
  src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans-Regular.ttf");
}

@font-face {
  font-weight: 500;
  font-family: "IBM Plex Sans Medium";
  src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans-Medium.ttf");
}

@font-face {
  font-weight: 600;
  font-family: "IBM Plex Sans SemiBold";
  src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans-SemiBold.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "IBM Plex Sans Bold";
  src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans-Bold.ttf");
}

@font-face {
  font-weight: 300;
  font-family: "Zen Kaku Gothic New Light";
  src: url("../fonts/Zen_Kaku_Gothic_New/ZenKakuGothicNew-Light.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Zen Kaku Gothic New Regular";
  src: url("../fonts/Zen_Kaku_Gothic_New/ZenKakuGothicNew-Regular.ttf");
}

@font-face {
  font-weight: 500;
  font-family: "Zen Kaku Gothic New Medium";
  src: url("../fonts/Zen_Kaku_Gothic_New/ZenKakuGothicNew-Medium.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Zen Kaku Gothic New Bold";
  src: url("../fonts/Zen_Kaku_Gothic_New/ZenKakuGothicNew-Bold.ttf");
}

.no-scroll {
  overflow: hidden;
}