.cta {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/call-to-action/cta.png);
  background-position: 50% 80%;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 0 24px;

  .cta__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .cta__header {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 11px;
      background: var(--color-background-dark-сharcoal);
      color: var(--color-text-white);
      display: inline;
      font-weight: 300;
      letter-spacing: 3px;
    }

    .cta__text-first {
      font-family: "Zen Kaku Gothic New Medium", sans-serif;
      font-size: 38px;
      color: var(--color-text-white);
      padding: 25px 0 30px;
      line-height: 1.1;

      @media (min-width: 768px) {
        font-size: 45px;
      }

      @media (min-width: 992px) {
        font-size: 52px;
      }
    }

    .cta__text-second {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 19px;
      color: var(--color-text-white);
      padding-bottom: 30px;
    }

    .cta__btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .cta__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-background-dark-gold);
        width: 135px;
        height: 66px;
        font-size: 15.4px;
        font-weight: 700;
        font-family: "IBM Plex Sans", sans-serif;
        text-decoration: none;
        color: var(--color-text-white);

        &:hover {
          background-color: var(--color-background-white);
          color: var(--text-primary);
        }
      }
    }
  }
}

.cta__slideshow-container {
  background-color: var(--color-background-dark-сharcoal);
  height: 32vh;
  display: flex;

  justify-content: center;
  align-items: center;

  .cta__image {
    width: 60px;
    height: 55px;
  }
}
