.features {
  position: relative; 
  background-color: #3a3a3a;
  color: #fff;
  padding: 130px 0;
  overflow: hidden; 
}

.features .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 0 80px;
}

.features__content {
  position: relative;
  z-index: 1;
  flex: 1;
  max-width: 50%;
  padding-left: 80px;
}

.features__label {
  font-size: 12px;
  letter-spacing: 2px;
  color: #ccc;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.features__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 1.2;
}

.features__divider {
  margin: 15px 0;
}

.features__subtitle {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 18px;
}

.features__description {
  margin-bottom: 25px;
  line-height: 1.6;
  color: #ddd;
}

.features__list-wrapper {
  display: flex;
  gap: 40px;
  margin-bottom: 25px;
}

.features__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features__item {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.features__item::before {
  content: "•";
  color: #b07f4c;
  font-weight: bold;
  position: absolute;
  left: 0;
}

.features__button {
  display: inline-block;
  background-color: #b07f4c;
  color: #fff;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 2px;
  transition: 0.3s;
}

.features__button:hover {
  background-color: #91683b;
}

.features__image-container {
  position: absolute; /* абсолютне позиціювання */
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right 90%; /* зміщує “камеру” трохи вниз від самого верху */
  border-radius: 0;
}

/* for phones */
@media (max-width: 900px) {
  .features .container {
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
  }

  .features__content,
  .features__image-container {
    max-width: 100%;
    position: relative;
    width: 100%;
    height: auto;
  }

  .features__image {
    height: auto;
  }

  .features__list-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
