  #types {
      padding: 30px;
      gap: 30px;
  }

  .types__card {
      background-color: #f2f2f2;
  }

  .types__card__image {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }

  .types__card__body__button {
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      gap: 12px;
      padding: 12px;
      border: 1px solid #000000;
  }

  .types__card__body__button,
  .types__card__body__button span,
  .types__card__body__button svg path {
      transition: 0.3s all;
  }

  .types__card__body__button span {
      color: #000000;
  }

  .types__card__body__button:hover {
      background-color: #000000;
  }

  .types__card__body__button:hover span {
      color: #ffffff;
  }

  .types__card__body__button:hover svg path {
      stroke: #ffffff;
  }

  .types__card__body {
      padding: 24px;
  }

  .types__card__body__divider {
      width: 33px;
  }

  #types__card__image--home-accent {
      background-image: url("../img/types/home_accents.png");
  }

  #types__card__image--wall-decor {
      background-image: url("../img/types/wall_decor.png");
  }

  #types__card__image--textiles {
      background-image: url("../img/types/textiles.png");
  }

  @media (max-width: 719px) {
      #types {
          display: grid;
      }

      .types__card {
          display: grid;
          width: 100%;
      }

      .types__card__image {
        width: 100%;
        height: 300px;
      }
  }

  @media (min-width: 720px) {
      #types {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
      }

      .types__card {
          display: grid;
          width: 100%;
      }

      .types__card--full-width {
          grid-column: 1 / -1;
      }

      .types__card__image {
        width: 100%;
        height: 300px;
      }
  }

  @media (min-width: 1080px) {
      #types {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
      }

      .types__card {
          display: flex;
          width: 100%;
      }

      .types__card--full-width {
          grid-column: 1 / -1;
      }

      .types__card__image,
      .types__card__body {
          width: 50%;
          height: 400px;
      }
  }